@use "@/styles/abstracts/mixins.scss" as mix;
@use "@/styles/abstracts/functions" as func;

$module: "message";

.#{$module} {
  margin-top: func.space("xs");
  padding-left: func.space("xs");

  &__msg {
    color: var(--text-secondary);
    display: block;
    @include mix.type-scale("label", "regular", 1.55, 0);
  }
  &__msg--error {
    color: var(--text-danger);
    display: flex;
    align-items: center;
  }
  &__error-icon {
    width: func.size("icon-lg");
    height: func.size("icon-lg");
    display: block;
    margin-right: func.space("2xs");
    flex-shrink: 0;
    --iconColor: var(--text-danger);
  }
}
